body {
    background-color: white;
}

.productos {
    padding-top: 30px;
    text-align: center;

}
 .container {
     /*definir grid*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    background-color: #4e4545;
    font-weight: 700;
    padding: 20px;
    height: auto;
    width: 100%;
}



.image-products {
    width: 164px;
}

.features-products {
    display: flexbox;
    background-color: white;
    margin: 0 10px;
    border-radius: 5px;
    width: 164px;
    position: relative;
}

.features-products:hover{
    bottom: 10px;
}
footer {
    color: #4e4545;
    width: 100%;
}
.footer-dir-icons{
    display: flex;
}

.direction {
    padding-left: 2rem;
}

.footer-icons {
    
    padding-left: 60%;
}