body{
     height: 1000px;
     background-color: white     ;
}


.header-logo {
    display:flex;
    text-align: center;
    height: 520px;
    width: 90%;
    justify-content:center;
    border-radius: 20px;
}

.header-logo > h1 {
    font-family: 'Homemade Apple', cursive;
    padding: 0 10px;
    color:#4e4545;
    font-size: 70px;
}

main{
    height: 500px;
    text-align: center;
    margin-top: 2rem;
}

main > h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 80px;
}

main > p {
    color: white;
}

footer {
    color: white;
    width: 100%;
}
.footer-dir-icons{
    display: flex;
}

.direction {
    padding-left: 2rem;
}

.footer-icons {
    
    padding-left: 60%;
}
