.fixed {
    background-color:dimgray;
    border-radius: 30px;
    border-color: brown;
}

h1 {
    font-family: 'Rock Salt', cursive;
    color: rgb(43, 36, 22);
}

.titulo {
    display: inline-flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.ItemMenu {
    color: blanchedalmond;
}

.header {
    background-color: black;
}

.features {
    display: grid;
    grid-template: repeat(2, 2fr) / repeat(2, 1fr);
}
