body{
     height: 1000px;
     background-color: white;
}

.header {
    background-color: #4e4545;
}
.header-logo {
    display:flex;
    background-color: #4e4545;
    text-align: center;
    height: 510px;
    width: 887px;
    justify-content:center;
    border-radius: 50px;
    margin: 50px;
}

.header-logo > h1 {
    font-family: 'Homemade Apple', cursive;
    padding: 0 10px;
    color:#4e4545;
    font-size: 70px;
}

main{
    height: 500px;
    text-align: center;
    margin-top: 2rem;
}

main > h1 {
    font-family: 'Pacifico', cursive;
    color: #4e4545;
    font-size: 80px;
}

main > p {
    color: #4e4545;
}

footer {
    color: #4e4545;
    width: 100%;
}
.footer-dir-icons{
    display: flex;
}

.direction {
    padding-left: 2rem;
}

.footer-icons {
    
    padding-left: 60%;
}
